@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any other global styles here */

@layer base {
  :root {
    /* --background: 100 100% 100%;
    --foreground: 0 0% 17.6%;

    --card: 100 100% 100%;
    --card-foreground: 0 0% 17.6%;

    --popover: 100 100% 100%;
    --popover-foreground: 0 0% 17.6%;

    --primary: 39.2 66.7% 78.4%;
    --primary-foreground: 100 100% 100%;

    --secondary: 45.6 72.2% 45.5%;
    --secondary-foreground: 0 0% 17.6%;

    --muted: 45.6 72.2% 45.5%;
    --muted-foreground: 0 0% 47.1%;

    --accent: 45.6 72.2% 45.5%;
    --accent-foreground: 0 0% 17.6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 100 100% 100%;

    --border: 0 0% 68.6%;
    --input: 0 0% 68.6%;
    --ring: 0 0% 17.6%;

    --radius: 0.5rem; */

    --background: 0 0% 17.6%; /* #2C2C2C */
    --foreground: 100 100% 100%; /* #FFFFFF */

    --card: 0 0% 17.6%; /* #2C2C2C */
    --card-foreground: 100 100% 100%; /* #FFFFFF */

    --popover: 0 0% 17.6%; /* #2C2C2C */
    --popover-foreground: 100 100% 100%; /* #FFFFFF */

    --primary: 100 100% 100%; /* #FFFFFF */
    --primary-foreground: 39.2 66.7% 78.4%; /* #C7973A */

    --secondary: 0 0% 23.1%; /* #3B3B3B */
    --secondary-foreground: 100 100% 100%; /* #FFFFFF */

    --muted: 0 0% 23.1%; /* #3B3B3B */
    --muted-foreground: 0 0% 69.8%;

    --accent: 0 0% 23.1%; /* #3B3B3B */
    --accent-foreground: 100 100% 100%; /* #FFFFFF */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 100 100% 100%; /* #FFFFFF */

    --border: 0 0% 23.1%; /* #3B3B3B */
    --input: 0 0% 23.1%; /* #3B3B3B */
    --ring: 0 0% 47.1%;
  }

  .dark {
    --background: 0 0% 17.6%; /* #2C2C2C */
    --foreground: 100 100% 100%; /* #FFFFFF */

    --card: 0 0% 17.6%; /* #2C2C2C */
    --card-foreground: 100 100% 100%; /* #FFFFFF */

    --popover: 0 0% 17.6%; /* #2C2C2C */
    --popover-foreground: 100 100% 100%; /* #FFFFFF */

    --primary: 100 100% 100%; /* #FFFFFF */
    --primary-foreground: 39.2 66.7% 78.4%; /* #C7973A */

    --secondary: 0 0% 23.1%; /* #3B3B3B */
    --secondary-foreground: 100 100% 100%; /* #FFFFFF */

    --muted: 0 0% 23.1%; /* #3B3B3B */
    --muted-foreground: 0 0% 69.8%;

    --accent: 0 0% 23.1%; /* #3B3B3B */
    --accent-foreground: 100 100% 100%; /* #FFFFFF */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 100 100% 100%; /* #FFFFFF */

    --border: 0 0% 23.1%; /* #3B3B3B */
    --input: 0 0% 23.1%; /* #3B3B3B */
    --ring: 0 0% 47.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
